*{
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000;
    
}
html{
    scroll-behavior: smooth;
}
:root{
    --my-purple-col: rgb(209, 35, 209);
}
#port-nav{
    display: flex;
    /* background: purple; */
    justify-content: space-between;
    padding: 40px 80px;
}

#port-nav .span-port, #port-nav .span-folio{
    font-size: 20px;
    font-weight: 800;   
}
#port-nav .span-folio{
    color: var(--my-purple-col);
}
#port-nav .nav-links{
    margin-left: 30px;    
}
#port-nav .nav-links a{
    padding: 10px;
    transition: color 0.7s;
}
#port-nav .nav-links a:hover{
    font-size: 17px;
    color: var(--my-purple-col);
}
#port-nav .toggleMenuMobile{
    font-weight: 800;
    padding: 10px 15px 10px 15px;    
    cursor: pointer;
    background: #fff;
    border: none;    
    border-radius: 7px;
    font-size: 20px;
    display: none;

}
#port-nav .toggleMenuMobile:hover{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.432);
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    left: -50px;
    /* margin-top: 20px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: center;
    display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}





.heading{
    color: var(--my-purple-col);
    font-size: 25px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 70px;
}
/* ------- HOME SECTION ------- */

#home{
    padding: 50px 80px;
}

#home .welcome-msg{
    font-size: 40px;
}
#home .welcome-msg .justice-joshua{
    color: var(--my-purple-col);
}
#home .welcome-msg .hire{
    background: var(--my-purple-col);
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    color: #fff;
}
#home .welcome-msg #resumeBtn{
    background: var(--my-purple-col);
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
}

#home .socials{
    margin-top: 30px;
}
#home .socials a{
    padding: 10px 15px;
    transition: 0.6s;
}
#home .socials a:hover{
    color: var(--my-purple-col);
}

/* ------- ABOUT SECTION ------- */
#about{
    padding: 50px 130px;
}
#about .abt-sec{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#about .port-img img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    box-shadow: 20px 20px 100px rgba(0, 0, 0, 0.425);
}
#about .about-me{
    max-width: 300px;
}

/* ------- SERVICES SECTION ------- */

#services{    
    padding: 50px 130px;
}
#services .serv-sec{
    display: flex;
    justify-content: space-evenly;
}

#services .web-dev{
    width: 280px;
    border-radius: 7px;
    background: var(--my-purple-col);
    padding: 15px;
}

#services .web-dev .webdev-desc, #services .ui-ux .ui-ux-desc{
    margin-top: 10px;
}
#services .web-dev i{
    font-size: 100px;
}
#services .ui-ux i{
    color: var(--my-purple-col);
    font-size: 100px;
}
#services .ui-ux{
    padding: 15px;
    width: 280px;
    border-radius: 7px;
    box-shadow: 10px 10px 200px rgba(0, 0, 0, 0.233);
} 

/* ------- PORTFOLIO SECTION ------- */

/* ------- CONTACT SECTION ------- */

#contact{    
    padding: 50px 130px;
}
#contact .contact-me{
    display: flex;
    justify-content: center;
}

#contact form input{
    margin: 8px;
    padding: 10px 5px;
    width: 300px;
    border-radius: 10px;
}
#contact form textarea{
    margin: 8px;
    padding: 10px 5px;
    border-radius: 10px;
}
#contact form input#send{
    width: 100px;
    background: var(--my-purple-col);
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
}

/* -------- FOOTER ---------- */

footer{
    background: #000;
    padding: 10px 30px;
    text-align: center;
}
footer p{
    padding: 12px 0;
    color: #fff;
}
footer div a{
    padding: 0 15px;
}
footer div a i{
    color: #fff;
}


/* ================ RESUME =========================*/

.par1{
    display: flex;
    padding: 30px 30px 0 30px;
}
/* ============ CHILD 3 ================== */
.chl3img{
    display: flex;
    /* width: 200px;
    height: 200px; */
    padding-top: 30px;
    justify-content: center;
}
.chl3img img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}


/* ================ CHILD 1 ======================*/

.par1 .chl1{
    background: rgb(196, 196, 196);
    padding: 10px 30px 30px 30px;
    width: 500px;

}

.par1 .chl1 .name{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    letter-spacing: 8px;
    font-size: 25px;
    margin-bottom: 7px;
}

.par1 .chl1 .full-stack{
    word-spacing: 3px;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.623);
}
.par1 .chl1 .r-contact, .par1 .chl1 .prof-summary{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    padding: 20px 0 0 0;
}
.par1 .chl1 .r-contact i{
    color: #fff;
    background: #000;
    padding: 4px;
    border-radius: 50%;
    margin-bottom: 4px;
}
.par1 .title-r{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.548);
}
.par1 .chl1 .prof-summary div{
    font-weight: 500;
}

/* =================== CHILD 2 ===================*/
.par1 .chl2{
    padding: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.par1 .chl2 p{
    margin: 0;
}
.par1 .chl2 .experience{
    font-size: 15px;
    padding-bottom: 7px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.363);
}
.par1 .chl2 .date{
    color: grey;
}
.par1 .chl2 .job{
    font-weight: 700;
}
.par1 .chl2 .location{
    color: grey;
    font-weight: 500;
}
.par1 .chl2 ul{
    margin-bottom: 20px;
}
.par1 .chl2 ul li{
    padding: 6px;
    font-size: 12px;
    font-weight: 500;
}



/* ================== PARENT 2 =====================*/

.par2{
    display: flex;
    /* padding: 30px; */
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.par2 .chl1, .par2 .chl2, .par2 .chl3, .par2 .chl4{
    padding: 30px;
}
.par2 .title-r{
    padding-bottom: 7px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.363);
}
.par2 .chl1 div{
    padding: 5px;
}
.par2 .chl1 div .school{
    font-weight: 600;
}
.par2 .chl1 div .location, .par2 .chl1 div .degree, .par2 .chl1 div .cert{
    color: grey;
}
.par2 .chl2 .my-cert{
    font-family: cursive;
    font-weight: 700;
}
.par2 .chl3 ul li, .par2 .chl4 .lang{
    color: grey;
}



/* ============================ MEDIA SCREEN ===============================*/

@media screen and (max-width: 800px){
    #port-nav .nav-links{
        display: none;   
    }
    #port-nav .toggleMenuMobile{        
        display: block;
    }
    #about .abt-sec{
        flex-direction: column;
    }
    #about .port-img img{
        width: 100%;
        height: 400px;
    }
    #about .about-me{
        max-width: 100%;
        margin-top: 40px;
        margin-left: 0;
        margin-bottom: 70px;
        line-height: 20px;
        height: 230px;
    }
    #services .serv-sec{
        flex-direction: column;
        justify-content: center;
    }#services .web-dev{
        width: 100%;
    }
    #services .ui-ux{
        width: 100%;
        margin-top: 20px;
        margin-left: 0;
    } 
}
@media screen and (max-width: 1000px){
    #about .about-me{
        margin-left: 50px;
    }
    #services .ui-ux{        
        margin-left: 30px;
    } 
}
