*{
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000;
    
}
:root{
    --my-purple-col: rgb(209, 35, 209);
}
#port-nav{
    display: flex;
    /* background: purple; */
    justify-content: space-between;
    padding: 40px 80px;
}

#port-nav .span-port, #port-nav .span-folio{
    font-size: 20px;
    font-weight: 800;   
}
#port-nav .span-folio{
    color: var(--my-purple-col);
}
#port-nav .nav-links{
    margin-left: 30px;    
}
#port-nav .nav-links a{
    padding: 10px;
    transition: color 0.7s;
}
#port-nav .nav-links a:hover{
    font-size: 17px;
    color: var(--my-purple-col);
}

.heading{
    color: var(--my-purple-col);
    font-size: 25px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 70px;
}
/* ------- HOME SECTION ------- */

#home{
    padding: 50px 80px;
}

#home .welcome-msg{
    font-size: 40px;
}
#home .welcome-msg .justice-joshua{
    color: var(--my-purple-col);
}
#home .welcome-msg .hire, #home .welcome-msg .resume{
    background: var(--my-purple-col);
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    color: #fff;
}

#home .socials{
    margin-top: 30px;
}
#home .socials a{
    padding: 10px 15px;
    transition: 0.6s;
}
#home .socials a:hover{
    color: var(--my-purple-col);
}

/* ------- ABOUT SECTION ------- */
#about{
    padding: 50px 130px;
}
#about .abt-sec{
    display: flex;
    justify-content: space-evenly;
}

#about .port-img img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    box-shadow: 20px 20px 100px rgba(0, 0, 0, 0.425);
}
#about .about-me{
    max-width: 300px;
}

/* ------- SERVICES SECTION ------- */

#services{    
    padding: 50px 130px;
}
#services .serv-sec{
    display: flex;
    justify-content: space-evenly;
}

#services .web-dev{
    width: 280px;
    border-radius: 7px;
    background: var(--my-purple-col);
    padding: 15px;
}

#services .web-dev .webdev-desc, #services .ui-ux .ui-ux-desc{
    margin-top: 10px;
}
#services .web-dev i{
    font-size: 100px;
}
#services .ui-ux i{
    color: var(--my-purple-col);
    font-size: 100px;
}
#services .ui-ux{
    padding: 15px;
    width: 280px;
    border-radius: 7px;
    box-shadow: 10px 10px 200px rgba(0, 0, 0, 0.233);
} 

/* ------- PORTFOLIO SECTION ------- */

/* ------- CONTACT SECTION ------- */

#contact{    
    padding: 50px 130px;
}
#contact .contact-me{
    display: flex;
    justify-content: center;
}

#contact form input{
    margin: 8px;
    padding: 10px 5px;
    width: 300px;
    border-radius: 10px;
}
#contact form textarea{
    margin: 8px;
    padding: 10px 5px;
    border-radius: 10px;
}
#contact form input#send{
    width: 100px;
    background: var(--my-purple-col);
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
}

/* -------- FOOTER ---------- */

footer{
    background: #000;
    padding: 10px 30px;
    text-align: center;
}
footer p{
    padding: 12px 0;
    color: #fff;
}
footer div a{
    padding: 0 15px;
}
footer div a i{
    color: #fff;
}
